.CurrentWeather {
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--colors-gray-400);
    height: max-content;

    .name {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.1px;
        margin-bottom: 16px;
    }

    .main {
        color: var(--colors-gray-700);
        margin-bottom: 4px;
        font-weight: 600;
    }

    .description {
        color: var(--colors-gray-500);
    }
}
